* {outline: 1px solid blueviolet;

}

@mixin breakpoint($point) {
        @if $point == lg {
            @media (max-width: 992px){@content;}  
        }
        @else if $point == md {
            @media (max-width: 768px){@content;}  
        }
        @else if $point == sm {
            @media (max-width: 576px){@content;}  
        }
        @else if $point == xs {
            @media (max-width: 375px){@content;}  
        }
        @else if $point == xl {
            @media (max-width: 1200px){@content;}  
        }
        @else if $point == xxl {
            @media (max-width: 1400px){@content;}  
        }
      }

body {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    color: white;
}

.header {
    padding: 20px 0px;
}

.nav {
    transition-duration: 1s;
}

.main {
    background-image: url(../img/head.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-top: 1px;
    @include breakpoint (md) {
       width: auto;
        box-shadow: none
    }
    @include breakpoint (sm) {
        height: 700px;
        width: 100%;
        margin: auto;
        padding: 0;
    }
}

.background {
    background: radial-gradient(#000000, #a9a9a9);
    @include breakpoint (sm) {
      margin-top: -22%;
    }
}
.head {
    color: white;
    font-size: 65px;
    line-height: 45%;
    @include breakpoint (md) {
        font-size: 45px;
    }
    @include breakpoint (sm) {
        font-size: 35px;
    }
}

.head:hover, .head:focus, .head:active {
    opacity: 0.7;
    color: rgb(250, 86, 86);
}

.logo {
    font-size: 30px;
    letter-spacing: 3px;
    opacity: 1;
    @include breakpoint (md) {
        font-size: 25px;
    }
}

.logo:hover, .logo:focus, .logo:active {
    opacity: 0.7;
    color: rgb(250, 86, 86);
}

.navbar-nav {
    height: 100px;
    font-size: 20px;
    align-items: center;
    justify-content: end;
    @include breakpoint (lg) {
        font-size: 18px;
    }
    @include breakpoint (md) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        font-size: 18px;
        -ms-flex-pack: distribute;
        justify-content: start;
        flex-direction: column;
        align-items: start;
        height: 125vh;
        width: 100vh;
        left: 0;
        padding-right: 25vh;
        padding-top: 40vh;
        padding-left: 5%;
        position: fixed;
        margin-top: -20%;
        z-index: -1;
        background: linear-gradient(to right, #525252, #ffadad);
    }
}

.navbar-style{
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
}

.navbar-toggler {
    padding-right: 0;
}

.navbar-toggler-icon {
    margin-top: -15px;
}

.navbar-toggler:focus {
    box-shadow: none;
}
.nav-item:not(:last-child) {
    margin: 0 10px;
    @include breakpoint (md) {
        margin: 0;
    }
}

.nav-link {
    width:  auto;
    text-align: center;
    font-size: 16px;
    color: white;
    @include breakpoint (md) {
        font-size: 35px;
    }
}

.nav-link:hover, .nav-link:focus, .nav-link:active {
    opacity: 0.7;
    color: #ffffff;
    text-decoration: underline;
}

.nav-link-a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    @include breakpoint (md) {
    font-size: 35px;
    font-weight: normal;
    }
}

.nav-link-a:hover, .nav-link-a:focus, .nav-link-a:active {
    opacity: 0.7;
    color: #ffffff;
    text-decoration: underline;
}

.nav-link-brow {
    width:  200px;
    text-align: center;
}

.burger {
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: relative;
}

.burger__line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
    transition: 0.3s all linear ;
}

.burger__line_first {
    top: 0;
}
.burger__line_second, .burger__line_thrid {
    top: 50%;
    transform: translateY(-50%);
}
.burger__line_fourth {
    bottom: 0;
}

.burger_active  .burger__line_first, .burger_active .burger__line_fourth {
opacity: 0;
}

.burger_active .burger__line_second{
    transform: translateY(-50%) rotate(45deg);
}
.burger_active .burger__line_thrid{
    transform: translateY(-50%) rotate(-45deg);
}

.one {
    padding-top: 30%;
    margin-bottom: 60vh;
    @include breakpoint (xl) {
        padding-top: 35%;
        width: auto;
        margin-left: auto;
    }
    @include breakpoint (lg) {
        padding-top: 50%;
        margin-bottom: 35vh;
    }
    @include breakpoint (md) {
        margin-top: 22%;
    }
    @include breakpoint (sm) {
        padding-top: 75%;
        margin-bottom: 20vh;
    }
}


.about-item {
       text-decoration: none;    
       color: white;
}

.about-item:hover, .about-item:focus, .about-item:active {
    opacity: 0.7;
    color: rgb(3, 3, 3);
}


.about-text {
    margin-top: 15%;
    font-size: 20px;
    padding: 0 25px;
    @include breakpoint (xl) {
        padding: 0;
        font-size: 18px;
    }
    @include breakpoint (md) {
        margin-top: 3%;
        margin-left: 35%;
    }
    @include breakpoint (sm) {
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        margin: 0 auto;
        margin-top: 10%;
        padding: 0px 15px;
    }
}

.two {
    color: black;
}

.content {
    @include breakpoint (lg) {
    display: flex;
    flex-wrap: wrap-reverse;
    }
}



.text-double {
    font-size: 20px;
    margin: 0px 20%;
    text-align: justify;
    @include breakpoint (lg) {
    font-size: 16px;
    }
    @include breakpoint (sm) {
        font-size: 16px;
        margin: 0px 10%;
        margin: 0 10%;
        text-align: center;
    }
}

.three {
    margin-top: 15vh;
    @include breakpoint (md) {
        margin-top: 10vh;
    }
}

.guide-title {
    text-decoration: none;
    color: black;
}

.info-text {
    padding-bottom: 5%;
    font-size: 20px;
    margin: 50px;
    @include breakpoint (lg) {
        font-size: 16px;
        }
    @include breakpoint (md) {
        margin:0;
    }
    @include breakpoint (md) {
        font-size: 16px;
    }
    @include breakpoint (sm) {
        text-align: center;
    }
}

.sellbtn,.brow-btn,.guide-sell-btn {
        text-decoration: none;
        color: #000000;
        font-size: 20px;
        border: none;
}

.promo {
 width:70%;
 @include breakpoint (sm) {
    width:100%;
}
}

.brow-btn:hover, .brow-btn:focus, .brow-btn:active {
    opacity: 0.7;
    color: #070606;
}

.sellbtn:hover, .sellbtn:focus, .sellbtn:active {
    opacity: 0.7;
    color: #070606;
}

.guide-sell-btn:hover, .guide-sell-btn:focus, .guide-sell-btn:active {
    opacity: 0.7;
    color: #070606;
}

.carousel-inner {
    height: 50%;
}

.four {
    margin-top: 15%;
    margin-bottom: 20vh;
    @include breakpoint (xl) {
        margin-bottom: 15vh;
    }
    @include breakpoint (lg) {
        margin-bottom: 10vh;
        text-align: center;
    }
    @include breakpoint (sm) {
        margin-top: 25%;
    }
}


.carousel {
    width: 500px;
    @include breakpoint (lg) {
        margin: 0 auto;
    }
    @include breakpoint (sm) {
        width: auto;
    }
}

.brow-text {
    font-size: 20px;
    margin: 0 10%;
    @include breakpoint (lg) {
        padding: 0 20px;
    font-size: 16px;
    }
    @include breakpoint (md) {
        margin: 0;
    }
    @include breakpoint (sm) {
        margin: 0;
        text-align: center;
        padding: 0;
    }
}

.baner {
    width: 100%;
    margin-top: 50%;
    margin-bottom: -75%;
    position: relative;
    z-index: -1;
    @include breakpoint (sm) {
        margin-top: 190%;
        margin-bottom: -100%;
    }
}

.five {
    background-image: url(../img/head2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 116vh;
    width: 110vh;
    margin: 0 auto;
    @include breakpoint (xl) {
        height: 100vh;
        width: 75vh;
    }
    @include breakpoint (lg) {
        width: auto;
        height: 110vh;
    }
    @include breakpoint (sm) {
        width: auto;
        height: 75vh;
    }
}

.guide-sell {
    padding: 20% 10%;
    @include breakpoint (lg) {
        padding: 27% 0;
    }
    @include breakpoint (sm) {
        padding:0;
    }
}

.guide-sell-text {
    font-size: 20px;
    @include breakpoint (lg) {
        padding: 0 25px;
    font-size: 16px;
    }
}

.text-consultation {
    font-size: 20px;
    @include breakpoint (lg) {
        font-size: 16px;
    }
}

.six {
    margin-top: 15vh;
}

.seven {
    margin-top: 15%;
}

.top_btn{
    text-decoration: none;
    color: #000000;
    margin-bottom: 15%;
}


.logo-footer {
    font-size: 30px;
    letter-spacing: 3px;
    opacity: 1;
    @include breakpoint (xl) {
        text-align: center;
        margin-bottom: -4%;
    }
    @include breakpoint (md) {
        font-size: 25px;
    }
}

.footer-img {
    height: 40px;
    opacity: 0.5;
    cursor: pointer;
    @include breakpoint (sm) {
        height: 30px;
    }
}

.footer-img:hover, .footer-img:focus, .footer-img:active {
    opacity: 0.8;
}